# Para AWS con RDS (recomendado)
# DATABASE_URL=postgres://USER:PASSWORD@RDS-ENDPOINT:5432/fuxion

# Para Postgres local dentro de docker-compose (profile localdb)
# DATABASE_URL=postgres://postgres:postgres@db:5432/fuxion

# Opcional
CPP_ENGINE_USER_COUNT=100000

